* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 70%;
    margin: 50px 10px 0;
}

.header {
    background-color: #7608dd;
    padding: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    color: #fff;
    font-size: 2.5rem;
}

.main-chat {
    background-color: #f1f1f1;
    float: right;
    width: 85%;
    height: 450px;
}

.chats {
    background-color: #c5a6ff;
    width: 15%;
    height: 450px;
}

.contact {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.contact p {
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 10px;
}

.icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    color: #b8b8b8;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.elements {
    position: absolute;
    width: 50%;
    margin: 475px 250px;
}

.subscriber {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.subscriber input {
    width: 30%;
}

.message {
    width: 15%;
    height: 40px;
    margin: 10px;
    border-radius: 25px;
    background-color: #27b7fa;
}

.message h3 {
    margin: 8px 20px 3px;
    font-size: 1.5rem;
    color: #fff;
}

.message p {
    margin-left: 20px;
    font-size: 1.2rem;
    color: #fff;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 70%;
    height: 25px;
    margin-right: 5px;
}

button {
    background-color: #7608dd;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #27b7fa;
}

.select {
    background-color: #27b7fa;
}
